<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Bundle identifier and version -->
    <key>CFBundleIdentifier</key>
    <string>$com.example.botanik</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>

    <!-- Bluetooth Permissions -->
    <!-- Description of why your app needs to access Bluetooth -->
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>This app needs access to Bluetooth to connect to nearby devices.</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>This app uses Bluetooth to find, connect, and transfer data with nearby devices.</string>

    <!-- Add other keys and strings as necessary for your app's features -->

</dict>
</plist>
